# Proteger archivos de configuración y base de datos
<FilesMatch "^\.env|\.sql$|\.git">
    Require all denied
</FilesMatch>

# Opciones generales
Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si se solicita un asset estático (imagen, audio, etc) y existe en public/, servirlo automáticamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
